body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  font-size: 24px;
}

.container {
  margin: 20px auto;
  max-width: 600px;
}

#preview {
  max-width: 100%;
  margin-top: 10px;
  display: none;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}